[Interface]
PrivateKey = <CLIENT_PRIVKEY>
Address = <CLIENT_IP>
DNS = <DNS_SERVER>

[Peer]
PublicKey = <SRV_PUBKEY>
Endpoint = <SRV_URL>:51820
AllowedIPs = 0.0.0.0/0 # and/or local netmask, e.g. 192.168.178.0/24
PersistentKeepalive = 25
